  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <!--<div class="cover-image"></div>-->
    <!--<div class="fade-overlay"></div>-->
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post singlepost">
          <div class="post-meta">
              <span class="post-meta__date date">{{ .Date.Format "Jan 2, 2006" }}</span>
              {{ if .Params.tags }}
                  • on
              {{ end }}
              <span class="post-meta__tags tags">
				{{ range $index, $element := .Params.tags }}
					{{ if eq (add $index 1) (len $.Params.tags) }}
						<a href="/tags/{{ $element | urlize }}">{{ $element }}</a>
					{{ else }}
						<a href="/tags/{{ $element | urlize }}">{{ $element }},</a>
					{{ end }}
                {{ end }}
              </span>
              • {{ .FuzzyWordCount }} words {{ .ReadingTime }} min. read
          </div>
          <h1>{{ .Title }}</h1>
          <section id="post-content" class="article-content post">
              {{ .Content }}
          </section>
          <!--<div class="footer-image"><img class="swirl" src="/images/swirl.png"/></div>-->
          <br/>
        </div>
        <!-- {{ partial "sharing.html" .}} -->
        {{ partial "comments.html" .}}
        {{ partial "footer.html" .}}
      </div>
    </div>
  </body>
  {{ partial "script.html" .}}
  {{ partial "toc.html" .}}
</html>
