  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
          <div class="post-meta">
              <span class="post-meta__date date">{{ .Date.Format "Jan 2, 2006" }}</span>
              {{ if .Params.tags }}
                  • on
              {{ end }}
              <span class="post-meta__tags tags">
                <font class="tags">
                {{ range .Params.tags }}
                    <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
                </font>
              </span>
              • {{ .ReadingTime }} min. read
          </div>

          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        {{ partial "sharing.html" .}}
        {{ partial "comments.html" .}}
      </div>
    </div>
  </body>
  {{ partial "script.html" .}}
</html>
