<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title> {{ .Site.Title }} </title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicons/favicon-16x16.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicons/android-icon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ .Site.BaseURL }}/images/favicons/manifest.json">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}/images/favicons/mstile-144x144.png">
    <!-- RSS -->
    <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<!-- meta -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
    <meta name="twitter:site" content="{{ .Site.Title }}">
	<meta itemprop="name" content="{{ .Title }}">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@kevcui">
	{{ if .Params.excerpt }}
		<meta name="description" content="{{ .Params.excerpt }}">
		<meta name="og:description" content="{{ .Params.excerpt }}">
		<meta name="twitter:description" content="{{ .Params.excerpt }}">
		<meta itemprop="description" content="{{ .Params.excerpt }}">
	{{ else }}
		<meta name="description" content="{{ .Summary }}">
		<meta name="og:description" content="{{ .Summary }}">
		<meta name="twitter:description" content="{{ .Summary }}">
		<meta itemprop="description" content="{{ .Summary }}">
	{{ end }}
	{{if .Params.image }}
	   <meta property="og:image" content="{{ .Params.image }}"/>
	   <meta property="twitter:image" content="{{ .Params.image }}"/>
	   <meta itemprop="image" content="{{ .Params.image }}">
	{{else}}
		{{if .Site.Params.cover}}
		   <meta property="og:image" content="{{ .Site.BaseURL }}/{{.Site.Params.logo }}"/>
		   <meta property="twitter:image" content="{{ .Site.BaseURL }}/{{.Site.Params.logo }}"/>
		   <meta itemprop="image" content="{{ .Site.BaseURL }}/{{.Site.Params.logo }}">
		{{end}}
	{{end}}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/uno.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/font.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/share.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/monokai.min.css">
    <!-- Script -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/main.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
