<nav class="pagination" role="navigation">
{{ if .Paginator.HasPrev }}
    {{ if (eq .Paginator.PageNumber 2) }}
        <a class="hvr-bubble-left order-posts pagination__older btn-tertiary" href="/#blog">prev</a>
    {{ else }}
        <a class="hvr-bubble-left order-posts hvr-grow pagination__older btn-tertiary" href="{{ .Paginator.Prev.URL }}">prev</a>
    {{ end }}
{{ end }}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <span class="pagination__page-number"> {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
{{ end }}
{{ if .Paginator.HasNext }}
    <a class="hvr-bubble-right order-posts pagination__older btn-tertiary" href="{{ .Paginator.Next.URL }}">next</a>
{{ end }}
</nav>
