<div id="scriptHeader">
    <span class="mobile btn-mobile-menu">
            <i class="icon icon-list btn-mobile-menu__icon"></i>
            <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
            {{ if eq .IsHome false }}
                <a class="mobile-top-right-button" href="/#blog">Other Posts</a>
            {{ else }}
                <a class="mobile-top-right-button" href="{{ .Site.BaseURL }}/"  title="link to homepage for {{ .Site.Title }}">{{ .Site.Title }}</a>
            {{ end }}
    </span>
    <header class="
        {{ if .IsNode }}
        {{ if or (eq .URL "/post/") (in .URL "/tags/") (in .URL "/categories/") }}
            panel-cover panel-cover--collapsed
        {{ else }}
            panel-cover
        {{ end }}
        {{ else }}
            panel-cover panel-cover--collapsed
        {{ end }}" {{ if .Site.Params.cover }} style="background-image: url({{ .Site.Params.cover }})" {{ end }}>
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content"> {{ if .Site.Params.logo }}
                <a href="{{ .Site.BaseURL }}/" title="link to homepage for {{ .Site.Title }}"> <img src="{{ .Site.Params.logo }}" width="80" alt="{{ .Site.Title }} logo" class="panel-cover__logo logo" /> </a> {{ end }}
                <h1 class="panel-cover__title panel-title">
                    <a href="{{ .Site.BaseURL }}/"  title="link to homepage for {{ .Site.Title }}">{{ .Site.Title }}</a>
                </h1>
                <hr class="panel-cover__divider" />
                <p class="panel-cover__description"> {{ if .Site.Params.description }} {{ .Site.Params.description }} {{end}} </p>
                <hr class="panel-cover__divider panel-cover__divider--secondary" />

                <div class="navigation-wrapper">
                    <nav class="cover-navigation cover-navigation--primary">
                        {{ partial "social.html" . }}
                    </nav>
                </div>

                <br/>
                {{ if eq .IsHome true }}
                    <p class=""><a title="my blog" class="main-button blog-button" href="/#blog">blog</a></p>
                {{ else }}
                    <p class=""><a class="main-button" href="/#blog">blog</a></p>
                {{ end }}
                <p class=""><a title="resume" class="main-button" href="/resume">résumé</a></p>

            </div>
        </div>
        <div class="panel-cover--overlay"></div>
    </div>
</header>
</div>
<noscript>
    <style>
        #scriptHeader {display:none;}
        .navigation-wrapper{
            display: block;
            top: 0;
        }
    </style>

    <header class="panel-cover panel-cover--collapsed" style="background-image: url({{ .Site.Params.cover }})">
        <div class="panel-main">
            <div class="panel-main__inner panel-inverted">
                <div class="panel-main__content"> {{ if .Site.Params.logo }}
                    <a href="{{ .Site.BaseURL }}/" title="link to homepage for {{ .Site.Title }}"> <img src="{{ .Site.Params.logo }}" width="80" alt="{{ .Site.Title }} logo" class="panel-cover__logo logo" /> </a> {{ end }}
                    <h1 class="panel-cover__title panel-title">
                        <a href="{{ .Site.BaseURL }}/"  title="link to homepage for {{ .Site.Title }}">{{ .Site.Title }}</a>
                    </h1>
                    <hr class="panel-cover__divider" />
                    <p class="panel-cover__description"> {{ if .Site.Params.description }} {{ .Site.Params.description }} {{end}} </p>
                    <hr class="panel-cover__divider panel-cover__divider--secondary" />
                    <div class="navigation-wrapper">
                        <nav class="cover-navigation cover-navigation--primary">
                            {{ partial "social.html" . }}
                        </nav>
                    </div>
                    {{ if eq .IsHome true }}
                        <p class=""><a title="my blog" class="main-button blog-button" href="/#blog">blog</a></p>
                    {{ else }}
                        <p><a class="main-button" href="/#blog">blog</a></p>
                    {{ end }}
                    <p class=""><a title="resume" class="main-button" href="/resume">résumé</a></p>
                </div>
            </div>
            <div class="panel-cover--overlay"></div>
        </div>
    </header>
</noscript>
