{{ partial "head.html" . }}
  {{ $resumecss := resources.Get "css/resume.css" | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{ $resumecss.Permalink }}" />

  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div id="cv" class="instaFade">
            <div class="mainDetails">
                <div id="name">
                    <h1>{{ .Params.title }}</h1>
                </div>

                {{ if eq .Params.contact true }}
                <div id="contactDetails">
                    <ul>
                        {{ if and (.Site.Params.author) (ne .Params.author false) }}
                        <li><img class="contactIcon" src="/images/contact/user-white.svg"/><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a></li>
                        {{ end }}
                        {{ if and (.Site.Params.twitter) (ne .Params.twitter false) }}
                        <li><img class="contactIcon" src="/images/contact/twitter-white.svg"/><a href="https://twitter.com/{{ .Site.Params.twitter }}">{{ .Site.Params.twitter }}</a></li>
                        {{ end }}
                        {{ if and (.Site.Params.github) (ne .Params.github false) }}
                        <li><img class="contactIcon" src="/images/contact/github-white.svg"/><a href="https://github.com/{{ .Site.Params.github }}">{{ .Site.Params.github }}</a></li>
                        {{ end }}
                        {{ if and (.Site.Params.phone) (ne .Params.phone false) }}
                        <li><img class="contactIcon" src="/images/contact/phone-white.svg"/>{{ .Site.Params.phone }}</li>
                        {{ end }}
                        {{ if and (.Site.Params.email) (ne .Params.email false) }}
                        <li><img class="contactIcon" src="/images/contact/mail-white.svg"/><a href="mailto:{{ .Site.Params.email }}" target="_blank" rel="noopener">{{ .Site.Params.email }}</a></li>
                        {{ end }}
                        {{ if and (.Site.Params.address) (ne .Params.address false) }}
                        <li><img class="contactIcon" src="/images/contact/pin-white.svg"/>{{ .Site.Params.address }}</li>
                        {{ end }}
                        {{ if and (.Site.Params.cv) (ne .Params.cv false) }}
                        <li><img class="contactIcon" src="/images/contact/paperclip-white.svg"/><a href="{{ .Site.Params.cv }}">CV (PDF version)</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
                <div class="clear"></div>
            </div>

            <div id="mainArea">
                <section>
                    <p>{{ .Content }}</p>
                    <div class="clear"></div>
                </section>

                {{ if .Params.language }}
                <section>
                    <div class="sectionTitle">
                        <h1>🙊 lang.</h1>
                    </div>

                    <div class="sectionContent">
                        {{ range sort .Params.language }}
                            <article>
                                <h2>{{ .language }}</h2>
                                <p class="language-type">{{ .type }}</p>
                            </article>
                        {{ end }}
                    </div>
                    <div class="clear"></div>
                </section>
                {{ end }}

                {{ if .Params.experience }}
                <section>
                    <div class="sectionTitle">
                        <h1>💻 exp.</h1>
                    </div>

                    <div class="sectionContent">
                        {{ range sort .Params.experience }}
                            <article>
                                <h2>{{ .title }}</h2>
                                <p class="subDetails-name"><a href="{{ .web }}">{{ .name }}</a></p>
                                <p class="subDetails-date">{{ .date }}, {{ .location }}</p>
                                <ul class="ul-memo">
                                {{ range $i, $m := .memo }}
                                    <li>{{ $m }}</li>
                                {{ end }}
                                </ul>
                            </article>
                        {{ end }}
                    </div>
                    <div class="clear"></div>
                </section>
                {{ end }}

                {{ if .Params.education }}
                <section>
                    <div class="sectionTitle">
                        <h1>🎓 edu.</h1>
                    </div>

                    <div class="sectionContent">
                        {{ range sort .Params.education }}
                            <article>
                                <h2>{{ .title }}</h2>
                                <p class="subDetails-name"><a href={{ .web }}>{{ .name }}</a></p>
                                <p class="subDetails-date">{{ .date }}, {{ .location }}</p>
                                <ul class="ul-memo">
                                {{ range $i, $m := .memo }}
                                    <li>{{ $m }}</li>
                                {{ end }}
                                </ul>
                            </article>
                        {{ end }}
                    <div class="clear"></div>
                </section>
                {{ end }}

            </div>
        </div>

        <!--</div>-->
      </div>
      <!--{{ partial "footer.html" .}}-->
    </div>
  </body>
  {{ partial "toc.html" .}}
  {{ partial "script.html" .}}
  <style>
  #sidebar-toc-Ik4D-toggleBtn {
    visibility: hidden;
  }
  </style>
</html>
