    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <section id="main">
                    <div>
                        {{ range (.Paginator 10).Pages }}
                            {{ if eq .Type "post" }}
                                {{ .Render "summary"}}
                            {{ end }}
                        {{ end }}
                    </div>
                    {{ partial "pagination.html" . }}
                </section>
                {{ partial "footer.html" . }}
            </div>
        </div>
        {{ partial "script.html" . }}
    </body>
</html>
